<!-- Technologies Aside -->
<aside class="clients" style="background-color: #f8f9fa; padding: 40px 0;">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 col-sm-6">
                <i class="devicon-magento-plain fa-5x" style="color: #cccccc;"></i>
            </div>
            <div class="col-md-3 col-sm-6">
                <i class="devicon-php-plain fa-5x" style="color: #cccccc;"></i>
            </div>
            <div class="col-md-3 col-sm-6">
                <i class="devicon-flutter-plain fa-5x" style="color: #cccccc;"></i>
            </div>
            <div class="col-md-3 col-sm-6">
                <i class="devicon-ruby-plain fa-5x" style="color: #cccccc;"></i>
            </div>
        </div>
    </div>
</aside>